* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: #DDD;
  background-color: black;
  margin: 0;
  padding: 0;
  background-image: url("/assets/background.jpg");
}

a {
  -webkit-transition: color 0.2s;
  color: white;
}

a:hover {
  color: #B1B1B1;
}

/* markdown formatting */
pre {
  background-color: rgb(39, 39, 39);
  padding: 10px;
  border-radius: 2px;
  overflow: auto;
}

.touch pre code {
  white-space: pre-wrap;
}

ul {
  padding-left: 30px;
}

/* base styles */
h1, h2, time {
  font-family: 'Russo One', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.content section {
  position: relative;
  overflow: hidden;
}

img {
  max-width: 100%;
}


/* site specific */
.main {
  max-width: 750px;
  margin: 0 auto;
  background-color: rgba(12, 12, 12, 0.6);
  min-height: 100%;
  position: relative;
  padding: 20px;
  padding-bottom: 40px;
}

.main > a.logo {
  display: block;
  width: 105px;
  height: 90px;
  background-image: url("/assets/onesat.gif");
  background-size: contain;
  margin: 0 auto;
}

.main > header {
  margin-bottom: 30px;
}

.main > header .logo {
  margin: 0 auto;
  font-size: 80px;
  width: 80px;
  margin-bottom: 10px;
  display: block;
}

.main > header h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  clear: both;
  text-transform: uppercase;
  font-size: 27px;
}

.main > header h1 a {
  text-decoration: none;
}

.main > header .sub-heading {
  text-align: center;
}

.main > header .sub-heading a {
  display: block;
  text-decoration: none;
}

.main > header .sub-heading a span {
  margin-right: 5px;
}

section header {
  position: relative;
  overflow: hidden;
}

section header h2 {
  display: inline-block;
  padding: 0;
  margin: 0;
}

section header time {
  float: right;
  clear: both;
}

section header h2 a {
  text-decoration: none;
}

.posts section header {
  line-height: 20px;
  margin-top: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: rgb(157, 157, 158);
}

.posts section header time {
  line-height: 20px;
  font-size: 10px;
}

.posts section header h2 {
  font-size: 20px;
}

.post section header {
  line-height: 20px;
  margin-bottom: 10px;
}

.post section header time {
  line-height: 20px;
  font-size: 10px;
}

.post section header h2 {
  font-size: 20px;
}

.post section header h2 .icon-file {
  color: #9E9E9E;
  margin: 0 5px;
}

.content {
  margin-bottom: 40px;
}

.posts section {
  margin-bottom: 50px;
}

.article {
  background-color: #1B1B1B;
  overflow: hidden;
  padding: 0 10px;
  border-radius: 0px 0px 1px 1px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 20px 0;
  color: rgb(155, 155, 155);
}

.social2 {
  text-align: center;
  overflow: hidden;
  margin-top: 10px;
}

.social2 a {
  margin: 10px;
}

.social {
  display: none;
}

.social a {
  text-decoration: none;
  float: right;
}

.social a.icon-envelope {
  margin-left: 10px;
}

footer #quote {
  font-size: smaller;
  margin-top: 5px;
}

#related {
  padding-bottom: 15px;
  padding-top: 10px;
}

#related h2 {
  font-size: 18px;
}

.error-report {
  float: right;
  margin: 10px 0;
  font-size: 0.9em;
}
